<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PGPlanning</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PGPlanning</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>itms-appss</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pgplanning.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pgplanning</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación necesita tener acceso a su camara para permitirnos cambiar tu foto de perfil y subir fotos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Esta app usa Face ID para la autentificacion</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita tener acceso a su ubicación para enviar la posición desde la que se realiza el fichaje en caso de que su empresa lo requiera. La ubicación únicamente será obtenida en el momento de fichar y no será usada con ningún otro fin</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Esta aplicación necesita tener acceso a su ubicación para enviar la posición desde la que se realiza el fichaje en caso de que su empresa lo requiera. La ubicación únicamente será obtenida en el momento de fichar y no será usada con ningún otro fin</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita tener acceso a su ubicación para enviar la posición desde la que se realiza el fichaje en caso de que su empresa lo requiera. La ubicación únicamente será obtenida en el momento de fichar y no será usada con ningún otro fin</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta aplicación necesita tener acceso a la lectura y escritura en galería de fotos para permitirnos cambiar tu foto de perfil y para subir y descargar fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita tener acceso a su galería de fotos para permitirnos cambiar tu foto de perfil y subir fotos.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
